@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<h1>Place an Order</h1>
<table class="table">
<tr><td>Id</td><td>Name</td><td>Price</td></tr>
@foreach(var a in Model.list)
{
<tr><td>@a.DEAD_Id</td><td>@a.DEAD_Name</td><td>@a.DEAD_Price</td>
<td>
    <form method="post" asp-page-handler="DEAD_add">
        <input hidden name="DEAD_Id"value="@a.DEAD_Id">
        <input hidden name="DEAD_Name"value="@a.DEAD_Name">
        <input hidden name="DEAD_Price"value="@a.DEAD_Price">
        <button type="submit">Add To Cart</button>
    </form>
</td>    
</tr>
}
</table>
<h1>ORDERS</h1>
<table class="table">
<tr><td>Id</td><td>Name</td><td>Price</td></tr>
@foreach (var a in Model.list2)
{
<tr>
<td>@a.DEAD_Id</td>
<td>@a.DEAD_Name</td>
<td>₱@a.DEAD_Price</td>
<td>
<form method="post" asp-page-handler="DEAD_del">
<input name="DEAD_duplicate" hidden value="@a.DEAD_duplicate">
<button type="submit">REMOVE</button>
</form>
</td>
</tr>
}
</table>
<table class="table">
    <tr><td><h3>Total Amount</h3></td></tr>
    @foreach (var a in Model.list3)
    {
        <tr>

            <th>₱@a.DEAD_Price</th>
        </tr>
    }
</table>
<a class="btn btn-success" asp-page="/DEAD_Privacy">CHECK OUT</a>