@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<h1>@Model.Title</h1>

<form id="student-form" method="post">
    <div> class="form-group">
        <label for="Student.StudentId">ID: </label>
        <input asp-for="Student.StudentId"
           class="form-control" /></div>

        <div class="form-group">
            <label for="Student.StudentName">Name: </label>
            <input asp-for="Student.StudentName"
                   class="form-control" />
        </div>

        <button class="btn btn-primary" type="submit">Save</button>
        <button class="btn btn-primary" type="submit" asp-page-handler="Test">Save</button>
</form>

<span><a role="button" asp-page="/Index" asp-page-handler="CreateStudent">Create</a></span>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in Model.StudentList)
            {
                <tr>
                    <td>@item.StudentId</td>
                    <td>@item.StudentName</td>
                    <td>
                        <span><a role="button" asp-page="/Index" asp-route-id="@item.StudentId" asp-page-handler="EditStudent">Edit</a></span>
                        <span><a role="button" asp-page="/Index" asp-route-id="@item.StudentId" asp-page-handler="DeleteStudent">Delete</a></span>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>


