@page
@model ICES_CSG.Pages.ICESCommentModel
@{
}
<a class="btn btn-warning" asp-page="/ICESAddLaws">Back</a>
<body style="background-color:midnightblue; color:white;">
</body>
<h1 style="color:gold;">STUDENT COMMENTS</h1>
<form method="post" asp-page-handler="ICESSea">
    <input name="ICESName" placeholder="Search" />
    <button type="submit">Search</button>
</form>
<table class="table" style="color:white;">
    <tr>
        <td>
            ID No.
        </td>
        <td>
            Name
        </td>
        <td>
            InstitutionalEmail
        </td>
        <td>
            Comment
        </td>
    </tr>
    @foreach (var ICES in Model.comments)
    {
        <tr>
            <td>@ICES.ICESIDNO</td>
            <td>@ICES.ICESName</td>
            <td>@ICES.ICESInstitutionalEmail</td>
            <td>@ICES.ICESComment</td>
            <td>
                <form method ="post" asp-page-handler="ICESDel">
                    <input hidden name="ICES" value="@ICES.ICES" />
                    <button type="submit" >Delete</button>
                </form>
            </td>
        </tr>
    }
</table>