@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<body style="background-color:midnightblue; color:white">
</body>
<a class="btn btn-warning" asp-page="/ICESIndex">Back</a>
<a class="btn btn-warning" asp-page="/ICESAddLaws">Officer Login</a>
<h1>Laws</h1>
<table class="table" style="color:white;">
    <tr>
        <td>
            LegislationNo
        </td>
        <td>
            BillPolicy
        </td>
        <td>
            Name
        </td>
        <td>
            Proposedby
        </td>
        <td>
            Status
        </td>
    </tr>
    @foreach(var ICES in Model.laws)
    {
        <tr>
            <td>@ICES.ICESLegislationNo</td>
            <td>@ICES.ICESBillPolicy</td>
            <td>@ICES.ICESName</td>
            <td>@ICES.ICESProposedby</td>
            <td>@ICES.ICESStatus</td>
        </tr>
    }
</table>
